/* Стили для оформления демо-страницы */

body {
	display: block;
	width:100%;
	margin:0 auto;
	padding:0;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#444;
	background:#FBFBFB;
}
header {
	display:block;
	width:900px;
	height:100px;
	margin:0 auto;
}
.wrapper {
	display:block;
	width:900px;
	margin:0 auto;
}
article {
	display:block;
	width:100%;
	height:100%;
	margin:0 auto;
}


/* Стили для оформления формы обратной связи */

form#contact  {
	border:1px solid #e5e5e5;
	padding:10px;
	background:#e9ffd0;
	border-radius:5px;
	width: 578px;
	margin: 0 auto;
}
#contact label {
	font-size: 14px;
}
#contact input:required:valid {
	box-shadow: 0 0 3px #BCEF89;
	border-color: #BCEF89!important;
	background: #fff url(images/valid.png) no-repeat 98% center;
}
#contact textarea:required:valid {
	box-shadow: 0 0 3px #BCEF89;
	border-color: #BCEF89!important;
}
#contact input:focus:invalid {
	box-shadow: 0 0 3px #FFDF97;
	border-color: #FFDF97!important;
	background: #fff url(images/invalid.png) no-repeat 98% center;
}
#contact textarea:focus:invalid {
	box-shadow: 0 0 3px #FFDF97;
	border-color: #FFDF97!important;
}
.err {
	border: 1px solid #ff8c00;
	padding: 10px;
	background: #FFDF97;
	text-align: left;
	border-radius: 3px;
}
.ok {
	border: 1px #BCEF89 solid;
	margin-bottom: 15px;
	padding: 10px;
	background: #f5f9fd;
	text-align: center;
	border-radius: 3px;
}
#author, #email, #url {
	width: 30%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
}
#comment {
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
}
#submit {
	font-weight: 400;
	background: #393;
	font-size: 15px;
	color: #fff;
	padding: 10px 50px;
	border: none;
	cursor: pointer;
}
input::-ms-clear {display: none; width: 0; height: 0;}
input:focus::-webkit-input-placeholder {color:transparent; border:none; outline:none;}
textarea:focus::-webkit-input-placeholder {color:transparent; border:none; outline:none;}
input, textarea, input:active, textarea:active, :focus {outline:none;}